.comofunciona {
        padding-top: 32px;
        text-align: center;
        font-family: Helvetica, sans-serif;
    }

    .section * {
        box-sizing: border-box;
    }
    
    .section.comofunciona {
        text-align: center;
    }

    .section.content {
        padding-left: 52px;
        padding-right: 52px;
        margin: 0 auto;
        max-width: 1037px;
    }

    div {
        display: block;
    }

    .headerh2 {
        font-size: 36px;
        font-weight: 600;
        padding-top: 52px;
        padding-bottom: 52px;
    }

    .steps {
      zoom: 1;
      margin: -16px;
    }

    .section.comofunciona.steps {
        float: left;
        width: 33.3333333333%;
        padding: 16px;
    }

    li {
        list-style: none;
    }

    .stepsfigure1 {
        border: 2px solid #ff000e;
        background: #ff0a17;
        display: block;
        margin: 0 auto;
        margin-bottom: 32px;
        width: 84px;
        height: 84px;
        line-height: 84px;
        font-size: 42px;
        font-weight: 500;
        border-radius: 8px;
        color: white;
    }

    .stepsfigure2 {
        border: 2px solid #f58900;
        background: #ff8f00;
        display: block;
        margin: 0 auto;
        margin-bottom: 32px;
        width: 84px;
        height: 84px;
        line-height: 84px;
        font-size: 42px;
        font-weight: 500;
        border-radius: 8px;
        color: white;
    }

    .stepsfigure3 {
        border: 2px solid #00d44e;
        background: #00de52;
        display: block;
        margin: 0 auto;
        margin-bottom: 32px;
        width: 84px;
        height: 84px;
        line-height: 84px;
        font-size: 42px;
        font-weight: 500;
        border-radius: 8px;
        color: white;
    }

    .stepsh2 {
        color: #2b2b2b;
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 16px;
    }
    
    .stepsp {
        font-size: 18px;
        color: #2b2b2b;
    }

    /* .fruit { 
        background-position: center;
    } */

    #listas {
        display: flex;
        align-items: center;
        column-gap: 10px;
        row-gap: 10px;
    }

    .section.comofunciona.fruit {
        height: 320px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
        max-width: 1366px;
        margin: 0 auto;
    }

  /* @media (max-width: 600px) {
   .section .comofunciona .fruit {
    background-size: 540px;
    height: 120px; } */

/* Estilos Eduardo */
#containerInfo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 420px 200px;
    grid-template-areas:
    "rightShopper leftStore"
    "downQuestions downQuestions";
    column-gap: 50px;
    row-gap: 50px;
    background-color: gainsboro;
    justify-content: center;
    padding: 20px 20px;
    font-family: "Avenir Next", Avenir, sans-serif;
    
}

#shopper{
    grid-area: rightShopper;
    
}

#store{
    grid-area: leftStore;
    
}

#questions{
    grid-area: downQuestions;
    justify-self: center; /* centrar horizontal*/
    align-self: center; /* entrar vertical */
}

#feature-image-shopper{
    background-image: url(https://s.cornershopapp.com/static/landings/homepage/img/Bags_2x.png);
    background-position: center;
    background-size: cover; 
    border-radius: 12px;
    width: 450px;
    height: 420px;
    text-align: center;
    justify-self: right; /* centrar horizontal*/
}

#feature-image-store{
    background-image: url(https://s.cornershopapp.com/static/landings/homepage/img/Storefront_2x.jpg);
    background-position: center;
    background-size: cover; 
    border-radius: 12px;
    width: 450px;
    height: 420px;
    text-align: center;
    justify-self: left; /* centrar horizontal*/
}

.feature-image-text-shopper{
    background: linear-gradient(rgba(255, 255, 255, 0.85) 40%, rgba(255, 255, 255, 0) 100%);
    color: black;
    border-radius: 12px;
}

.feature-image-text-store{
    background: linear-gradient(rgba(0, 0, 0, 0.85) 40%, rgba(0, 0, 0, 0) 100%);
    color: white;
    border-radius: 12px;
}

#feature-image-text-small{
    color: gray;   
    font-size: 14px;
}
h3{
    font-size: 30px;
}

#feature-questions{
    height: 150px;
    width: 900px;
    background-color:#363636;
    border-radius: 12px;
    text-align: center;
    padding:25px;
    color: white;
    border: 10px;
    margin-bottom: 20px;
}

#help{
    color: gray;
}

#containerFooter{
    display: flex;
    border: green solid 1px;
    height: auto;
    background-color: #363636;
    font-family: "Avenir Next", Avenir, sans-serif;
    color: grey;
    justify-content: center;
}

.column1 a{ 
    color: grey;
}


.column2 a{
    color: whitesmoke;
    margin-left: 100px;
}

.column3{
    margin-left: 80px;
}

.column4{
    color: white;
    font-size: 30px;
    margin-left: 100px;
    justify-items: right;
}

/* Estilos Eduardo */

