.howitworks {
        padding-top: 32px;
        text-align: center;
        font-family: Helvetica, sans-serif;
    } 

    .content {
        padding-left: 32px;
        padding-right: 32px;
        margin: 0 auto;
        max-width: 1037px;
    }

    div {
        display: block;
    }

    .headerh2 {
        font-size: 36px;
        font-weight: 600;
    }

    .steps {
      zoom: 1;
      margin: -16px;
      float: left;
      width: 100%;
      padding: 16px;
    }

    li {
        list-style: none;
    }

    .stepsfigure1 {
        border: 2px solid #ff000e;
        background: #ff0a17;
        display: block;
        margin: 0 auto;
        margin-bottom: 32px;
        width: 84px;
        height: 84px;
        line-height: 84px;
        font-size: 42px;
        font-weight: 500;
        border-radius: 8px;
        color: white;
    }

    .stepsfigure2 {
        border: 2px solid #f58900;
        background: #ff8f00;
        display: block;
        margin: 0 auto;
        margin-bottom: 32px;
        width: 84px;
        height: 84px;
        line-height: 84px;
        font-size: 42px;
        font-weight: 500;
        border-radius: 8px;
        color: white;
    }

    .stepsfigure3 {
        border: 2px solid #00d44e;
        background: #00de52;
        display: block;
        margin: 0 auto;
        margin-bottom: 32px;
        width: 84px;
        height: 84px;
        line-height: 84px;
        font-size: 42px;
        font-weight: 500;
        border-radius: 8px;
        color: white;
    }

    .stepsh2 {
        color: #2b2b2b;
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 16px;
    }
    
    .stepsp {
        font-size: 18px;
        color: #2b2b2b;
    }

    .fruit { 
        background-size: 540px;
        height: 120px;
        background-position: center top;
    }

    /* border: 2px solid #ff000e;
    border-top-color: rgb(255, 0, 14);
    border-top-style: solid;
    border-top-width: 2px;
    border-right-color: rgb(255, 0, 14);
    border-right-style: solid;
    border-right-width: 2px;
    border-bottom-color: rgb(255, 0, 14);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-left-color: rgb(255, 0, 14);
    border-left-style: solid;
    border-left-width: 2px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial; */

@media (max-width:600px)